@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Lora", serif; */
}

body {
    background-color: #e9dac6;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

header #navbar img {
    width: 90px;
  }
  
  header #navbar {
    display: flex;
  }
  
  header {
    top: 0;
  }
  
  
  header #navbar #paginas{
    display: flex;
    justify-content: space-between;
    background-color: #591902;
    padding: 15px;
    z-index: 1;
  }
  
  header nav #paginas #botaoMenuHamburger{
    display: none;
  }
  
  header nav #paginas #botaoMenuHamburger .bar{
    display: none;
    background-color: white;
    margin: 10px;
    width: 50px;
    height: 8px;
    border-radius: 4px;
  }
  
  header #navbar #paginas ul {
    width: 45%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
  }
  
  header #navbar #paginas ul li {
    text-decoration: none;
  }
  
  header #navbar #paginas ul li a {
    font-size: 21px;
    text-decoration: none;
    color: rgb(255, 218, 218);
    border-radius: 15px;
    transition: all 0.3s;
    font-family: poppins;
  }
  
  header #navbar #paginas ul li a:hover {
    color: #dfc038;
    text-decoration: underline;
  }
  
  
  /* -------------------------FIM HEADER/NAV----------------------------------------- */
  /* ---------------------------BOTÃO HEADER------------------------------------------ */
  
  /* From Uiverse.io by satyamchaudharydev */
  /* The switch - the box around the slider */
  .switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin-left: 100px;
    margin-top: 20px;
  }
  
  
  /* ACIMA MEXE NA CAIXA DO BOTAO */
  
  
  
  /* OCULTA A CAIXA HTML PRÈ-DETERMINADO*/
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* SLIDER */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebe9e2;
    transition: .4s;
    border-radius: 30px;
  }
  
  /* BOTAO ANTES DO CLICK */
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://images.vexels.com/content/145137/preview/sun-sharp-rays-icon-1e8970.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .4s;
  }
  
  /* BOTAO DEPOIS DO CLICK */
  
  input:checked+.slider {
    background-color: #303136;
  }
  
  input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* altere o valor da segunda inserção em box-shadow para alterar o ângulo e a direção da lua  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  /* COR DEPOIS DO CLICK */
  
  /* ---------------FIM BOTAO HEADER--------------------------------- */
  
  /* -------------------------FIM HEADER/NAV----------------------------------------- */
  /* ---------------------------BOTÃO HEADER------------------------------------------ */
  
  /* From Uiverse.io by satyamchaudharydev */
  /* The switch - the box around the slider */
  header .switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin-left: 100px;
  }
  
  
  /* ACIMA MEXE NA CAIXA DO BOTAO */
  
  
  
  /* OCULTA A CAIXA HTML PRÈ-DETERMINADO*/
  header .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* SLIDER */
  header .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebe9e2;
    transition: .4s;
    border-radius: 30px;
  }
  
  /* BOTAO ANTES DO CLICK */
  
  header .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://images.vexels.com/content/145137/preview/sun-sharp-rays-icon-1e8970.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .4s;
  }
  
  /* BOTAO DEPOIS DO CLICK */
  
  header input:checked+.slider {
    background-color: #303136;
  }
  
  header input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* altere o valor da segunda inserção em box-shadow para alterar o ângulo e a direção da lua  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  /* COR DEPOIS DO CLICK */
  
  /* ---------------FIM BOTAO HEADER--------------------------------- */
    header #navbar img {
      width: 90px;
    }
    
    header #navbar {
      display: flex;
    }
    
    header {
      width: 100%;
      top: 0;
      /* padding: 10px; */
      /* background-color: gray; */
    
    }
    
    header #navbar{
      display: flex;
      justify-content: space-between;
      background-color: #591902;
      padding: 15px; 
    }
    
    header #navbar ul {
      width: 45%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
    
    
    
    }
    
    header #navbar ul li {
      text-decoration: none;
    
    
    }
    
    header #navbar ul li a {
      font-size: 21px;
      padding: 10px;
      text-decoration: none;
      color: rgb(255, 218, 218);
      border-radius: 15px;
      transition: all 0.3s;
    }
    
    header #navbar ul li a:hover {
      color: #dfc038;
      text-decoration: underline;
    }



/* --------------------INICIO SEÇÃO 1----------------------------- */


h1 {
    margin-top: 60px;
    font-size: 4em;
    color: #f2eadc;
    text-shadow: 7px 7px 14px #cec3ae,
        -7px -7px 14px #cec4b3;
    /* margin-left: 60px; */
    text-align: center;

    border-radius: 7px;
    /* background: #e8d3ba; */
    /* box-shadow: inset 7px 7px 14px #998b7b,
     -7px -7px 14px #fffff9; */
    font-family: "Lora";

}




.secao1 {
    display: flex;
    margin-top: 60px;
}

.secao1 img {
    margin-top: 50px;
}

section img {
    width: 60vw;
    height: 60vh;
    margin-left: 30px;
    border-radius: 8px;
}


h2 {
    margin-top: -25px;
}

.text1 h2 {
    /* margin-left: 20px; */
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 60px;
    font-family: "Lora";
}

.text1 {
    margin-top: 80px;
}

.text1 p {
    width: 60%;
    /* margin-left: 210px; */
    font-size: 25px;
    line-height: 2;
    text-align: justify;
    margin-left: 150px;
    font-family: "Poppins";
}

/* ------------------------FIM SEÇÃO 1----------------------------------------------------------- */
/* --------------------INICIO SEÇÃO 2------------------------------------------- */
#secao2 {
    /* background-color: #7e4800; */
    margin-top: 60px;
    display: flex;
}

.text2 {
    width: 70%;
    /* margin-left: 35px; */
    padding: 30px;
}
.text2 .img12{
    background-image: url(https://media.istockphoto.com/id/1313868776/pt/foto/brain-frequency.jpg?s=1024x1024&w=is&k=20&c=0MpAUnVBj5WRW70FyyRRLg1UDgSYdHf17z4BU3xOvEA=)
    ;
    display: none;

    width: 500px;
    height: 500px;
}
.htwo {
    text-align: center;
    margin-top: 130px;
    font-size: 3em;
    font-family: "Lora";
}

.intro2 {
    text-align: center;
    margin-top: 21px;
    font-size: 23px;
    font-family: "Poppins";
}

h3 {
    font-size: 2em;
    margin-left: 15px;
    margin-top: 20px;
    font-family: "Lora";
}

.ex {
    margin-left: 25px;
    font-size: 20px;
    padding: 10px;
    width: 80%;
    text-indent: 1em;
    font-family: "Poppins";

}

#secao2 img {
    margin-top: 100px;
    margin-right: 30px;
}


/* ---------------------------FIM SEÇÃO 2------------------------------------------------------ */
/* -------------------------INICIO SEÇÃO #---------------------------------- */

#thirdimage {
    height: 45%;
    width: 100%;
    object-fit: cover;
    margin-left: -0px;
    border-radius: 0;
}

#third {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: #ffb039; */
    margin-top: 180px;
}

#third h2 {
    font-size: 46px;
    text-align: center;
    margin: 40px 0;
    font-family: "Lora";

}

#third p {
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
    font-family: "Poppins";
}

#third button {
    align-self: center;
    padding: 15px 40px;
    font-size: 20px;
    background-color: #ffbd59;
    margin-top: 30px;
    border: none;
    border-radius: 12px;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}

#third button:hover {
    cursor: pointer;
    scale: 1.3;
    background-color: #ffb039;
}

/* ------------------------FIM SEÇÃO #------------------------------------ */
/* ---------------------------INICIO FOOTER------------------------------------------- */

footer {
    background-color: #591902;
    color: white;
    height: 225px;
    font-size: 21px;
    font-family: "Poppins", serif;

    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0
}

footer .imgrodape {
    width: 40px;
    height: 40px;
}

footer p {
    padding: 10px;
}


footer #contatos {
    filter: invert(100%);
    cursor: pointer;
}

footer #contatos #acima {
    text-align: center;
    margin-bottom: 10px;
}

footer #contatos #acima img {
    width: 52px;
    height: 52px;
}

footer #contatos #abaixo {
    width: 150px;
    display: flex;
    justify-content: space-between;
}



footer #ajuda nav ol {
    text-align: center;
    list-style: none;
}

footer #ajuda nav ol li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer #ajuda nav ol li a:hover {
    color: #dfc038;
}

footer #direitos {
    text-align: center;
    align-self: end;
}

/* ----------------------------MODO ESCURO---------------------------------------- */

.dark-mode {
    background-color: #0d1f23;
    color: #eaeaea;
}

.dark-mode header #navbar #paginas ul li a:hover{
  color: #38b81e;
}


.dark-mode header #navbar #paginas{
    background-color: #132e3500;
}
  
  
  .dark-mode #Segunda #linha {
    background-color: rgb(255, 255, 255);
  }
  
  .dark-mode footer {
    background-color: #e9dac6;
  }
  
  .dark-mode #navbar{
    background-color: #132e35;
  }

 .dark-mode h1 {
    color: #0d1f23;
    text-shadow: 7px 7px 14px #20454e,
        -7px -7px 14px #255057;
}  

.dark-mode #third button {
    background-color: #237d74;
}

.dark-mode #third button:hover {
    background-color: #23c4b4;
}

.dark-mode footer {
  background-color: #132e35;
    
}

.dark-mode footer #ajuda nav ol li a:hover {
    color: #38b81e;
}





/* ------------------------------------RESPONSIVIDADE---------------------------- */


@media (max-width: 768px) {

  body{
    overflow-x: hidden;
  }


    #logo{
        margin-left: 175px;
      }


      #navbar{
        width: 100%;
        height: 100px;
        justify-content: space-between;
      }
      
      header nav #paginas #botaoMenuHamburger{
        display: block;
      }
      
      header nav #paginas #botaoMenuHamburger .bar{
        display: block;
        background-color: white;
        margin: 10px;
        width: 50px;
        height: 8px;
        border-radius: 4px;
      }
      
      
      
      header #navbar #paginas{
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0px;
        left: -10px;
        background-color: #0d1f2300;
      }
      
      header #navbar #paginas ul{
        margin-top: 100px;
        display: none;
        flex-direction: column;
        background-color: #0d1f23b7;
        position: fixed;
        top: 0px;
        left: 0;
        width: fit-content;
        height: 30vh;
        align-items: start;
        justify-content: start;
        
        
      }
      
      header #navbar #paginas ul li{
        margin: 12px 0;
      }

    



    /* -----FIM HEADER/NAV------- */



    /* --------SEÇÃO 1--------  */
    h1 {
        font-size: 40px;
    }

    .secao1 {
        display: block;
        margin-top: -10px;
    }

    .secao1 img {
        width: 90vw;
        height: 40vh;
        margin-left: 60px;
        border-radius: 8px;
    }



    .text1 h2 {
        font-size: 40px;
        padding: 2px;

    }

    .text1 p {
        font-size: 20px;
        margin-left: 28px;
        width: 90%;
        text-indent: 20px;
        margin-top: -15px;
        margin: auto;
        text-align: left ;
    }

    /* -------------FIM SEÇÂO 1--------------- */
    /* ------------INICIO SEÇÃO 2----------------- */

    .htwo {
        font-size: 40px;
    }

    .intro2 {
        font-size: 18px;
        padding: 6px;
    }


    .text2{
        width: 100vw;
    }


    #secao2 {
        display: block;
    }

    #secao2 img{
        display: none;
    }


    h3 {
        font-size: 32px;
        margin-top: 60px;
    }

    .ex {
        font-size: 20px;
        width: 100%;
        margin: auto;
        /* margin-left:-10px; */
        text-indent: 20px;

    }

    .text2 .img12{
        background-image: url(https://super.abril.com.br/wp-content/uploads/2018/07/imigraccca7acc83o_site2.jpg?crop=1&resize=1212,909)
        ;
        display: flex;
        width: 90vw;
        height: 40vh;
        margin-left: 30px;
        border-radius: 8px;
        margin-top: -10px;
    }
    /* -------------FIM SEÇÃO 2------------ */
    /* ------------------INICIO SEÇÃO #---------------------- */

    #third{
        margin-top: 90px;
    }

    #third h2 {
        font-size: 40px;
        text-align: center;
        margin: 40px 0;
    }


    #third p {
        font-size: 20px;
        text-align: center ;
        margin: 30px 0;
        font-family: "Poppins";
        width: 100%;
        padding: 5px;
    }

    

    
    /* --------FIM SEÇÃO # -------------------- */
    /* --------------INICIO FOOTER--------------- */

    footer {
        background-color: #591902;
        color: white;
        height: 350px;
        font-size: 15px;
        font-family: "Poppins", serif;
      
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        margin-top:40px;
      }
      
      footer #contatos {
        margin-top: 20px;
      }
      
      footer .imgrodape {
        width: 40px;
        height: 40px;
      }
      
      footer #ajuda {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 21px;
      }
      
      footer #ajuda nav ol li a:hover {
        color: #dfc038;
      }
      
      footer #direitos {
        align-self: center;
        text-align: center;
        padding: 10px;
        order: 1;
      }
    

}